{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Bolsas ecologicas publicitarias{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>BOLSAS ECOLÓGICAS</h1>
<p>
       Bolsas ecológicas confeccionados en fiselina 40x45cm estampadas con tintas al agua con el logo de tu empresa, marca o negocio. Todos los colores.<br>
       Si queres saber mas sobre este producto ponete en contacto con nosotros!
</p>
<img src="{{asset ('bundles/digal/images/services/bag/bag.jpg')}}" alt="bolsa ecologica publicitaria">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/bag/bags_colors.png')}}" alt="colores disponibles">
{%endblock%}