{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Bolsas ecologicas publicitarias{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>BOLSAS ECOLÓGICAS</h1>
<p>
       Confecciona almohadones, almohadas y una gran variedad de artículos publicitarios. Con una gran variedad de telas, colores, rellenos y excelentes precios. <br>
       Ofrecemos diseños innovadores, flexibles y con creatividad para campañas publicitarias, lanzamientos de nuevos productos y posicionamientos.
</p>
<img src="{{asset ('bundles/digal/images/services/bag/bag.jpg')}}" alt="bolsa ecologica publicitaria">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/cushion/cushion_colors.png')}}" alt="colores disponibles" width="50">
{%endblock%}