{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Almohadones  publicitarios{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>ALMOHADONES  PUBLICITARIOS</h1>
<p>
       Confecciona almohadones, almohadas y una gran variedad de artículos publicitarios. Con una gran variedad de telas, colores, rellenos y excelentes precios.
</p>
<img src="{{asset ('bundles/digal/images/services/cushion/cushion.jpg')}}" alt="llavero polimero sublimado">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/cushion/cushion_colors.png')}}" alt="colores disponibles" width="50">
{%endblock%}