{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}} | Domes publicitarios{%endblock%}

{%block description%}Sticker impreso en vinilo de alta calidad dosificado con resina poliuretanica de gran resistencia en ambientes exteriores. Solicite su presupuesto según sus necesidades.{%endblock%}

{%block keywords%}sticker dome, domes por mayor, domes personalizadas, domes publicitarias, calcos resinados, calcomanias resinadas, sticker resinado, sticker resinado por mayor{%endblock%}

{%block ogTitle%}{{parent()}}Domes publicitarios{%endblock%}
{%block ogDescription%}Sticker impreso en vinilo de alta calidad dosificado con resina poliuretanica de gran resistencia en ambientes exteriores. Solicite su presupuesto según sus necesidades.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/domes/domes.jpg')}}{%endblock%}

{%block blockleft%}
<h1>DOMES - CALCOS RESINADOS</h1>
<p>
      Sticker impreso en vinilo de alta calidad dosificado con resina poliuretanica de gran resistencia en ambientes exteriores. Solicite su presupuesto según sus necesidades.
</p>
<img src="{{asset ('bundles/digal/images/services/domes/domes.jpg')}}" alt="dome puclicitario digal">
{%endblock%}
