{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Llavero cinta portacredencial estampado{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>LLAVEROS CINTA ESTAMPADOS</h1>
<p>
    Los llaveros cinta publicitarios estilo colgante pueden ser estampados a un color a través de serigrafía o sublimadas full color con tu logo, teléfono o dirección. <br>
    <b>Material:</b> las cintas personalizadas para Merchandising se fabrican en Poliéster, Tejidas en Jackard.
    Una forma fácil y económica de promocionar tu marca o negocio. <br>
</p>
<h2>Usos</h2>
<p>
<ul>
    <li>Porta credencial</li>
    <li>Porta objetos</li>
</ul>
</p>
<img src="{{asset ('bundles/digal/images/services/keychains/keychain_ribbon.jpg')}}" alt="llavero cinta estampado">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/keychains/keychain_colors.png')}}" alt="colores disponibles" width="50">
{%endblock%}