{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Llaveros de polimero sublimados publicitarios{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>LLAVEROS DE POLIMERO PUBLICITARIOS</h1>
<p>
    Llavero de polímero personalizable con logotipo o imágenes sublimado. El llavero está hecho de material de polímero resistente, más ligero que los de metales y mejor calidad en la impresión. Excelente para regalo empresarial o publicitario.
</p>
<img src="{{asset ('bundles/digal/images/services/keychains/keychain_poli.jpg')}}" alt="llavero polimero sublimado">
{%endblock%}

{%block subblock1%}

{%endblock%}