{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Mouse pads personalizados{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>MOUSE PADS PERSONALIZADOS</h1>
<p>
       Mouse pads personalizados, impresos en sublimación full color con antideslizante. Medidas 21x20cm. Podes estampar tu logo, almanaque, o lo que se te ocurra!.
</p>
<img src="{{asset ('bundles/digal/images/services/mousePads/mousePads.jpg')}}" alt="almohadon publicitario">
{%endblock%}
