{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Mouse pads personalizados{%endblock%}

{%block description%}Mouse pads personalizados, impresos en sublimación full color con antideslizante. Medidas 21x20cm. Podes estampar tu logo, almanaque, o lo que se te ocurra!.{%endblock%}

{%block keywords%}mouse pad sublimado, pad para mouse personalizado, pad para mouse estampado, mouse pad por mayor, mouse pad para regalar, regalos empresariales, regalos publicitarios{%endblock%}

{%block ogTitle%}{{parent()}}Mouse pads personalizados{%endblock%}
{%block ogDescription%}Mouse pads personalizados, impresos en sublimación full color con antideslizante. Medidas 21x20cm. Podes estampar tu logo, almanaque, o lo que se te ocurra!.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/mousePads/mousePads.jpg')}}{%endblock%}

{%block blockleft%}
<h1>MOUSE PADS PERSONALIZADOS</h1>
<p>
       Mouse pads personalizados, impresos en sublimación full color con antideslizante. Medidas 21x20cm. Podes estampar tu logo, almanaque, o lo que se te ocurra!.
</p>
<img src="{{asset ('bundles/digal/images/services/mousePads/mousePads.jpg')}}" alt="mouse pad digal">
{%endblock%}
