{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Stickers publicitarios{%endblock%}

{%block description%}Sticker realizados en plotter de corte (amplia variedad de colores en vinilos) o plotter de impresión troqueladas en vinilo vehicular (full color en calidad hd), también realizamos impresiones en lona para banners o rotulados de vidrieras.{%endblock%}

{%block keywords%}sticker publicitarios, calcos publicitarias, calcomanias publicitarios, calcos para empresas, productos publicitarios, cordoba, sticker por mayor, sticker dome{%endblock%}

{%block ogTitle%}{{parent()}}Stickers publicitarios{%endblock%}
{%block ogDescription%}Sticker realizados en plotter de corte (amplia variedad de colores en vinilos) o plotter de impresión troqueladas en vinilo vehicular (full color en calidad hd), también realizamos impresiones en lona para banners o rotulados de vidrieras.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/stickers/stickers.jpg')}}{%endblock%}

{%block blockleft%}
<h1>STICKERS  PUBLICITARIOS</h1>
<p>
       Sticker realizados en plotter de corte (amplia variedad de colores en vinilos) o plotter de impresión troqueladas en vinilo vehicular (full color en calidad hd), también realizamos impresiones en lona para banners o rotulados de vidrieras. 
</p>
<img src="{{asset ('bundles/digal/images/services/stickers/stickers.jpg')}}" alt="stickers publicitarios digal">
{%endblock%}
