{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}}Buzos estampados publicitarios{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>BUZOS ESTAMPADOS</h1>
<p>
    Buzos friza con cuello redondo estampados con tintas plastisol de la mejor calidad. Ideal en invierno para eventos, comercios, empresas, campañas publicitarias, etc.
</p>
<img src="{{asset ('bundles/digal/images/services/sweatshirt/sweatshirt.jpg')}}" alt="bolsa ecologica publicitaria">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/sweatshirt/sweatshirts_colors.png')}}" alt="colores disponibles">
{%endblock%}
{%block subblock2%}
<h2>Talles disponibles</h2>
<p>S – M – L – XL – XXL</p>
{%endblock%}