{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%}{{parent()}}Remeras estampadas publicitarias{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}{%endblock%}

{%block blockleft%}
<h1>Remeras estampadas (clásica)</h1>
<p>
    Remeras estampadas en serigrafía (tintas al agua o plastisol) o sublimadas, también contamos dos calidades; económica y peinada (en algodón) y en modal blanco para sublimación. El estampado es de máximo 4 colores en serigrafía y full color sublimadas.
    Si queres saber mas sobre este producto ponete en contacto con nosotros!
</p>
<img src="{{asset ('bundles/digal/images/services/tshirts/tshirt.jpg')}}" alt="remeras estampadas">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/tshirts/tshirts_colors.png')}}" alt="colores disponibles">
{%endblock%}
{%block subblock2%}
<h2>Talles disponibles</h2>
<p>
    2 – 4 – 6 – 8 – 10 – 12<br>
    14 – 16 – XS – S – M – L – XL – XXL
</p>
{%endblock%}





