/* 
    Document   : about
    Author     : Jesús Díaz
    twitter    : @gbuuss
*/
div#contentAbout{ overflow: hidden; }
div#contentAbout h1, h2{ margin: 2em 0 1em 0; }
div#contentAbout div#blockLeft{ padding: 0 2em; display: inline-block; vertical-align: top; max-width: 46em; height: auto; }
div#contentAbout div#blockLeft img{ width: 100%; }
div#contentAbout div#blockRight{ border-left: 1px dashed #D1D1D1; display: inline-block; vertical-align: top; padding: 1em; max-width: 26em; min-height: 42em; min-width: 18em; height: auto; }
div#contentAbout div#blockRight div#clients{ text-align: center; margin-bottom: 3em; max-width: 25em; display: block; }
div#contentAbout div#blockRight div#clients img{ width: 130px; }
div#contentAbout div#blockRight div#tweets{ text-align: center; margin-bottom: 3em; max-width: 25em; display: block; }
div#contentAbout div#blockRight div#clients h3, div#tweets h3{ text-align: left; }

@media screen and (max-width: 1236px){
	div#contentAbout div#blockRight{ border: none; }
}