/* 
    Document   : our_services
    Author     : Jesús Díaz
    twitter    : @gbuuss
*/
div#contentOurServices{ color: #000000; padding: 2em; text-align: center; }
div#contentOurServices h1{ margin-bottom: 1em; }
div#contentOurServices h2{ color: #CC493E; margin: .8em 0.5em; }
div#contentOurServices h3{ margin: .8em 0.5em; }
div#contentOurServices p{ font-weight: normal; margin: 0 auto; max-width: 55em; }
div#contentOurServices div#articles{ display: block; margin: .5em auto 1em auto; max-width: 55em; }
div#contentOurServices div#articles div.buttonService{ -webkit-box-shadow: 1px 1px 1px 1px #E0E0E0; background-color: #00B3A8; box-shadow: 1px 1px 1px 1px #E0E0E0; display: inline-block; margin: 0.3em; padding: .7em 1em; }
div#contentOurServices div#articles div.buttonService:hover{ -webkit-box-shadow: 0; background-color: #333; box-shadow: 0; opacity: .8; }
div#contentOurServices .divider-small-border{ border: 1px solid #888888; margin: 3em auto 2em auto; max-width: 300px; }

/* ===== template_services ===== */
div#contentItem{ overflow: hidden; text-align: center; }
div#contentItem div#blockLeft{ border-right: 1px dashed #D1D1D1; display: inline-block; height: auto; max-width: 46em; min-height: 800px; padding-top: 2em; padding: 1em; vertical-align: top; }
div#contentItem div#blockLeft p{ margin: 1em auto; }
div#contentItem div#blockLeft img{ margin: 1em auto; max-width: 400px; width: 100%; }
div#contentItem div#blockLeft a{ color: #0084B4; }
div#contentItem div#blockRight{ display: inline-block; height: auto; max-width: 26em; min-height: 42em; min-width: 18em; padding: 1em; vertical-align: top; }
div#contentItem div#blockRight div#subBlock1 img, div#subBlock2 img{ margin: 1em auto; width: 300px; }
div#contentItem div#blockRight div#subBlock2 p{ margin: 1em auto; }
div#contentItem div#blockRight div#subBlock3 ul{ margin: 1em auto; }
div#contentItem div#blockRight div#subBlock3 li{ -webkit-box-shadow: 1px 1px 1px 1px #E0E0E0; background-color: #00B3A8; box-shadow: 1px 1px 1px 1px #E0E0E0; display: inline-block; margin: 0.3em; padding: 0.1em; }
div#contentItem div#blockRight div#subBlock3 li:hover{ -webkit-box-shadow: 0; background-color: #333; box-shadow: 0; opacity: .8; }

@media screen and (max-width: 1236px){
	div#contentItem div#blockLeft{ border: none; }
}