div#contentOurServices{
    color: #000000;
    text-align: center;
    padding: 2em;
}
div#contentOurServices h1{
    margin-bottom: 1em;
}
div#contentOurServices h2{	
    color: #CC493E;
    margin: .8em 0.5em;
}
div#contentOurServices h3{	
    margin: .8em 0.5em;
}
div#contentOurServices p{
    max-width: 55em;
    margin: 0 auto;
    font-weight: normal;
}
div#contentOurServices div#articles{
    max-width: 55em;
    margin: .5em auto 1em auto;
    display: block;
}
div#contentOurServices div#articles div.buttonService{
    padding: .7em 1em;
    margin: 0.3em;
    background-color: #00B3A8;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 1px 1px #E0E0E0;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
}
div#contentOurServices div#articles div.buttonService:hover{
    opacity: .8;
    background-color: #333;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
div#contentOurServices .divider-small-border{
    border: 1px solid #888888;
    margin: 3em auto 2em auto;
    max-width: 300px;
}

/* ===== template_services ===== */

div#contentItem{
    overflow: hidden;
    text-align: center;
    padding-top: 2em;
}
div#contentItem div#blockLeft{
    padding: 1em;
    display: inline-block;
    vertical-align: top;
    max-width: 46em;
    height: auto;
}
div#contentItem div#blockLeft p{
    margin: 1em auto;
}
div#contentItem div#blockLeft img{
    margin: 1em auto;
    width: 450px;
}
div#contentItem div#blockRight{
    padding: 1em;
    border-left: 1px dashed #D1D1D1;
    display: inline-block;
    vertical-align: top;
    max-width: 26em;
    min-width: 26em;
    min-height: 42em;
    height: auto;
}
div#contentItem div#blockRight div#subBlock1 img, div#subBlock2 img{
    width: 300px;
    margin: 1em auto;
}
div#contentItem div#blockRight div#subBlock2{
    margin: 3em auto;
}
div#contentItem div#blockRight div#subBlock2 p{
    margin: 1em auto;
}
div#contentItem div#blockRight div#subBlock3 ul{
    margin: 1em auto;
}
div#contentItem div#blockRight div#subBlock3 li{
    padding: 0.1em;
    margin: 0.3em;
    background-color: #00B3A8;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 1px 1px #E0E0E0;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
}
div#contentItem div#blockRight div#subBlock3 li:hover{
    opacity: .8;
    background-color: #333;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}