/* 
    Document   : styles
    Author     : Jesús Díaz
    twitter    : @gbuuss
*/
/* header -------------- */
header{ background-color: #000000; overflow: hidden; padding: 0; }
header #logo{ display: inline-block; float: left; margin: 0.5em 5em; }
header #logo img{ margin: 0; max-height: 4em; min-height: 4em; }
/* navbar -------------- */
div#navbar{ background-color: #333; color: #F1F1F1; margin: 0; overflow: hidden; padding: 0; }
div#navbar div#wrapper-navbar{ overflow: hidden; display: block; }
div#navbar div#wrapper-navbar ul{ list-style: none; padding: .5em; float: right; }
div#navbar div#wrapper-navbar ul li{ float: left; }
div#navbar div#wrapper-navbar ul li:hover{ background-color: #F1F1F1; }
div#navbar div#wrapper-navbar ul li a{ display: block; padding: .15em .3em;}
div#navbar div#wrapper-navbar ul li a:hover{ color: #000000; }
/* social --------------*/
div#social{ vertical-align: top; }
div#social div#pinterest, div#gplus, div#facebook, div#twitter, div#linkedin{ float: left; font-family: 'Roboto', sans-serif; font-size: 1.2em; margin: 0 !important; min-height: 6em; min-width: 20%; padding-top: 1.5em; text-align: center; }
div#social div#pinterest:hover, div#gplus:hover, div#facebook:hover, div#twitter:hover, div#linkedin:hover{ opacity: .9; }
div#social div img{ max-height: 2em; }
div#social div span{ font-family: 'Sintony', sans-serif; font-size: 0.7em; }
div#social div#pinterest{ background-color: #CB2028; }
div#social div#gplus{ background-color: #D6128B; }
div#social div#facebook{ background-color: #3B5B98; }
div#social div#twitter{ background-color: #1BB2E9; }
div#social div#linkedin{ background-color: #017EB4; }
/* footer -------------- */
footer{ background-color: #000000; color: #FFFFFF; font-size: 0.8em; margin: 0; padding: 0; }
footer h3{ color: #FF0000; }
footer div#copyR{ display: inline-block; margin: 2em 0 2em 5em; vertical-align: top; }
footer div#copyR img{ margin-bottom: 1em; max-height: 4.5em; min-height: 4.5em; }
footer div#infContact{ display: inline-block; margin: 2.5em 0 2em 8em; vertical-align: top; }

/* media queries -------------- */
@media screen and (max-width: 768px){ 
	div#navbar ul{ font-size: 18px;}
	div#navbar div#wrapper-navbar{ margin: 0 auto;}
	div#navbar ul li{ width: 100%; background-color: #999999; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; text-align: center; margin: 3px auto; padding: 10px 0; }
	div#navbar ul li:hover{ background-color: #F1F1F1; }
	div#navbar ul li a{ color: #000; }
	div#social{ font-size: .6em; }
	footer div#copyR{ display: none; }
	footer div#infContact{ margin: 2.5em 4em; }
}
